html, body { height: 100%; }

#selector {
   background-color: #eee;
   padding: 0px 8px;
}

#ticket_list {
}

.listitem {
   cursor: pointer;
   background-color: #ede;
   margin: 2px; padding: 8px;
   border: 1px solid gray;
   -moz-border-radius: 4px; -webkit-border-radius: 4px;
   white-space: nowrap; overflow: hidden; text-overflow : ellipsis;
}
.listitem:hover {
   font-weight: bold;
   background-color: #f81;
}

.sublevel .listitem{
   margin-left: 16px;
   padding: 2px;
}

.comment_item {
   background-color: #aa5;
   margin: 2px; padding: 8px;
   border: 1px solid gray;
   -moz-border-radius: 4px; -webkit-border-radius: 4px;
   overflow: hidden; text-overflow : ellipsis;
}

body {
   color: black;
   background-color: white;
   background-repeat: repeat-y;
   font: normal 14px Verdana;
   font: 85% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}

#content {
   padding: 0px 24px;
}
