html, body { height: 100%; }

#selector {
   background-color: #eee;
   padding: 0px 8px;
}

#ticket_list {
}

.listitem {
   cursor: pointer;
   background-color: #ede;
   margin: 2px; padding: 8px;
   border: 1px solid gray;
   -moz-border-radius: 4px; -webkit-border-radius: 4px;
   white-space: nowrap; overflow: hidden; text-overflow : ellipsis;
}
.listitem:hover {
   font-weight: bold;
   background-color: #f81;
}

.sublevel .listitem{
   margin-left: 16px;
   padding: 2px;
}

#item_info {
   border: 1px solid black;
   padding: 8px;
   -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
#item_info #title {
   font-size: 130%; font-weight: normal;
}

#comment_list {
   margin-left: 16px;
}

.comment_item {
   background-color: #aa5;
   margin: 2px; padding: 8px;
   border: 1px solid gray;
   -moz-border-radius: 4px; -webkit-border-radius: 4px;
   overflow: auto; text-overflow : ellipsis;
}



body {
   color: black;
   background-color: white;
   background-repeat: repeat-y;
   font: normal 14px Verdana;
   font: 85% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}

table {
   width: 100%;
}

#sitename {
   float: left;
}

#search {
   float: left;
   width: 50%;
}

#registration {
   position: absolute;
   right: 20px;
}

#search input[type="text"] {
   margin: 8px 0px 8px 200px;
   padding: 8px;
   font-size: 120%;
   border: 2px solid blue;
   -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

#content {
   padding: 0px 24px;
}

.clear {
   clear: both;
}

.hide {
   display: none;
}

.right {
   text-align: right;
}

#form_widget {
   position: absolute;
   width: 30%;
   padding: 4px;
   background-color: white;
   border: 2px solid gray;
   -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
#form_widget textarea {
   width: 96%;
}

#action_buttons {
   padding: 0px 16px 0px 32px;
}
#action_buttons span {
   cursor: pointer;
   padding: 2px 8px;
   background-color: #eee;
   border: 0px solid gray; border-width: 0px 2px 2px 2px;
   -moz-border-radius: 0px 0px 4px 0px; -webkit-border-radius: 0px 0px 4px 0px;
}
#action_buttons span:hover {
   background-color: #faa;
}

#new_ticket {
margin: 4px 8px;
padding: 8px;
}
